body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
label {
  display: block;
}
input[type='text'] {
  display: block;
  border: 1px solid #ccc;
  padding: 6px 10px;
  font-size: 14px;
  width: 300px;
}


#mysevenly_nav{
	list-style:none;
	margin:0;
	float:left;
	padding:0 0 20px 0;
	width:900px;
}
#mysevenly_nav:after{
	clear:right;
}
	#mysevenly_nav li{
		float:left;
		padding:0;
		margin:0 20px 0 0;
	}
	
#profile_wrap,
hr{
	clear:both;
	margin-bottom:20px;
}

hr{
height:1px;
background:#ccc;
border:0;
}
